<footer class="site-footer" style="background-color:black">
  <div style="padding: 20px;background-color: #000000;">
  <h1 style="text-align: center; color: aliceblue;">
    {% if site.title %}
    {{ site.title | escape }}
    {% endif %} </h1>
  <h3 style="text-align: center; color: aliceblue;">
    {% if site.subtitle %}
    {{ site.subtitle | escape }}
    {% endif %} </h3>
    <h3 style="text-align: center; color: aliceblue;">
          Department
          of Special Needs Education</h3>
    <h3 style="text-align: center; color: aliceblue;">University of Oslo</h3>
      <p style="text-align:center;">
        <a class="page-link" style="color:aliceblue;text-transform: uppercase;"
            href="https://scholar.google.com/citations?hl=en&amp;user=pATrAdMAAAAJ&amp;view_op=list_works&amp;sortby=pubdate"><i
                class="ai ai-google-scholar ai-1x"></i> Google Scholar</a> |
        <a class="page-link" style="color:aliceblue;text-transform: uppercase;" href="https://github.com/themistocleous"><i
                class="fab fa-github fa-1.5x"></i> GitHub</a> |
        <a class="page-link" style="color:aliceblue;text-transform: uppercase;"
            href="https://www.researchgate.net/profile/Charalambos_Themistocleous2"><i
                class="ai ai-researchgate ai-1x"></i> ResearchGate</a> |
        <a class="page-link" style="color:aliceblue;text-transform: uppercase;"
            href="https://www.linkedin.com/in/haristhemistocleous/"><strong>in </strong></i> Linkedin</a> |
        <a class="page-link" style="color:aliceblue;text-transform: uppercase;" href="https://twitter.com/ThemistocleousH"><i
                class="fab fa-twitter fa-1x"></i> Twitter</a> |
        <a class="page-link" style="color:aliceblue;text-transform: uppercase;"  href="https://orcid.org/0000-0002-9138-0939" target="orcid.widget" rel="me noopener noreferrer"><i
                  class="ai ai-orcid ai-1x"></i> ORCID</a> |         
        <a class="page-link" style="color:aliceblue;text-transform: uppercase;" href="/contact"><i
                class="fa fa-paper-plane fa-1x"></i> Contact Info</a>
    </p>  
  </div>
    <div style="text-align:right;padding: 20px;background-color: #000000;">
        <div class="trigger" style="text-align: right;background-color: #000000;">
            <div class="trigger" style="color:aliceblue;text-align: right;background-color: #000000;">
              <p style="text-align: right; color: aliceblue;padding-top:0.5cm;">
                <hr>
                {% if site.description %}
                {{ site.description | escape }}.
                {% endif %} All rights reserved.
              </div>
            </div>
          </div>
</footer>