<footer style="background-color: steelblue;color:white;text-align: right;">
    <div style="text-align: right;padding:2%">
    <ul style="list-style: none; margin: 0 auto;">
        <li>
          <a style="color: white;" href="{{site.baseurl}}/">Home</a>
        </li>
        <li>
          <a style="color: white;" href="{{site.baseurl}}/publications/">Publications</a>
        </li>
        <li>
          <a style="color: white;" href="{{site.baseurl}}/software/">Research</a>
        </li>
        <li>
          <a style="color: white;" href="{{site.baseurl}}/teaching/">Teaching</a>
        </li>
        <li>
          <a style="color: white;" href="https://openbrainai.com">Open Brain AI</a>
        </li>
        <li>
          <a style="color: white;" href="/news/">News</a>
        </li>
        <li>
          <a style="color: white;" href="/about/">About</a>
        </li>
        <li>
          <a style="color: white;" href="/photos/">Photos</a>
        </li>
        <li>
          <a style="color: white;" href="/contact">Contact Info</a>
        </li>
      </ul>
    </div>
    <div style="text-align: right;padding:2%">
{% if site.description %}
{{ site.description | escape }};
{% endif %} all rights reserved.
    </div>
</footer>