---
layout: default
---
<article class="post">


    <h6 class="post-title">Charalambos (Haris) Themistocleous</h6>

  <img src="/img/me.png" alt="HarisThemistocleous" vspace=10 hspace="30"
  border="1" width="50%" height="50%" style="float:right"> <div class="body"> <p
  style="text-align:justify;"><span
  style="color:#000000;"><strong></strong></span></p> <p  ><span
  style="color:#000000;">  <p>I am a linguist. My interests include speech,
  language, machine-learning, and healthcare.</p>

  <p>Currently I am a Postdoctoral Researcher  at the Department of Neurology,
  School   of Medicine,   <a  href="https://www.jhu.edu/">Johns Hopkins
  University</a>, Baltimore,  USA.</p>

  <p>In  my research,  I focus on the analysis of speech and language from
  behavioral and   tDCS  interventions   in participants   with PPA   and
  Alzheimer’s  disease,  and  on   the  analysis of  data  from language,
  cognitive and  quality  of  life evaluations  using machine learning and
  natural language processing.</p>

	<p>I am also a    researcher     at     the      Department     of Swedish, <a
	href="https://www.gu.se">University     of Gothenburg</a>,  Sweden. In this research
	my aim is to  identify  important linguistic markers in persons with
	MCI and Alzheimer’s disease that  can   be  used   as  complementary,   early
	diagnostic, prognostic or screening tools.</p>

<h2>Positions</h2>
<ul>
  <li><strong>Apr 2018 – March 2019</strong>: <strong> <i>Postdoctoral fellow</i></strong>, Department of Neurology, School of Medicine, Johns Hopkins University, USA.</li>
  <li><strong>Dec. 2015 – Jan. 2020</strong>: <strong> <i>Researcher</i></strong>, Department of Swedish, University of Gothenburg, Sweden. Previously, Centre for Linguistic Theory and Studies in Probability </li>
  <li><strong>Sept. 2015 – Dec. 2015</strong>: <strong> <i>Visiting scholar</i></strong>, The Seeger Center for Hellenic Studies, Princeton University, USA. Visiting Research Scholar.</li>
</ul>

<h2>Information</h2>
<dl>
 <dt><a href="http://charalambosthemistocleous.com/assets/CV_CHARALAMBOS_THEMISTOCLEOUS.pdf"><strong><i class="ai ai-cv ai-2x"></i>Curriculum Vitae</strong></a></dt>
  <dt><a href="https://www.researchgate.net/profile/Charalambos_Themistocleous2"><strong><i class="ai ai-researchgate ai-2x"></i>ResearchGate</strong></a></dt>
  <dt><a href="https://scholar.google.com/citations?hl=en&user=pATrAdMAAAAJ&view_op=list_works&sortby=pubdate"><strong><i class="ai ai-google-scholar ai-2x"></i>Google Scholar</strong></a></dt>
</dl>
</article>
