---
layout: default
---
<article class="post">

  <table>
    <tr>
      <th width="60%"  valign="top"> </th>
      <th width="40%" valign="top"></th>
    </tr>
    <tr>
      <td><img alt="HarisThemistocleous" width="45%" src="/img/me.jpeg"" />
<p></p>
     <p style="text-align:justify">I am a postdoctoral researcher at the <a href="http://www.tsapkini-lab.org">Language Neuromodulation Lab</a>, <a href="https://www.hopkinsmedicine.org/neurology_neurosurgery/">Department of Neurology</a>, School of Medicine, <a href="https://www.jhu.edu/">Johns Hopkins University</a>, Baltimore, USA.</p>
</td>
<td  valign="top">      
        <h1 style="padding-top: 1.3cm">Interests</h1>
        <ul>
<li>Computational Linguistics</li>
<li>Neurolinguistics</li>
<li>Sociolinguistics</li>
<li>Speech Language Pathology</li>
<li>Machine Learning
<li>Neuroimaging</li>
<li>Speech Acoustics</li>
</ul>
                   
</td>
</tr>
 <tr>
      <td><h1 style="padding-top: 1.3cm">Positions</h1>
<ul>
  <li>04/01/2018–Present</li>
<ul>
<li><a href="https://www.hopkinsmedicine.org/neurology_neurosurgery/"><strong>Johns Hopkins University - Department of Neurology</strong></a><p>Postdoctoral Fellow.</p></li>
</ul>
<li>2015–2019</li>
<ul>
   <li><a href="https://clasp.gu.se"><strong>University of Gothenburg - Centre for Linguistic Theory and Studies in Probability (CLASP)</strong></a><p>Postdoctoral Fellow.</p></li>
  <li><a href="https://spraakbanken.gu.se/eng/"><strong>Språkbanken,  Department  of Swedish</strong></a><p>Researcher</p></li>
</ul>
  <li>2015</li>
<ul>
   <li> <a href="https://hellenic.princeton.edu/people/charalampos-themistokleous"><strong> Princeton University -  Seeger Center for Hellenic Studies</strong></a>
     <p>Visiting research scholar</p></li>
</ul>   
  <li>2011–2014</li>
 <ul>
   <li><a href="https://www.ucy.ac.cy/eng/en/"><strong>University of Cyprus - Department of English Studies</strong></a><p>Visiting Lecturer</p></li>
</ul>
</ul>
</td> 
<td valign="top">
<h1 h1 style="padding-top: 1.3cm">Information</h1>
<ul type="none">
<li><a href="/assets/CV_CHARALAMBOS_THEMISTOCLEOUS.pdf"><i class="ai ai-cv ai-1.5x"></i><span class="tab">Curriculum Vitae [PDF] </span></a></li>
 <li><a href="https://github.com/themistocleous"><i class="fab fa-github fa-1.5x"></i><span class="tab">GitHub</span></a></li>
  <li><a href="https://www.researchgate.net/profile/Charalambos_Themistocleous2"><i class="ai ai-researchgate ai-1x"></i><span class="tab">ResearchGate</span></a></li>
  <li><a href="https://scholar.google.com/citations?hl=en&amp;user=pATrAdMAAAAJ&amp;view_op=list_works&amp;sortby=pubdate"><i class="ai ai-google-scholar ai-1x"></i><span class="tab">Google Scholar</span></a></li>
<li><a href="https://twitter.com/ThemistocleousH"><i class="fab fa-twitter fa-1x"></i><span class="tab">Twitter</span></a></li>
 <li><a href="https://charalambosthemistocleous.com/academic/"><i class="far fa-calendar fa-1x"></i><span class="tab">Calendar - Availability</span></a></li>
<li><a href="https://www.instagram.com/haris_themistocleous/"><i class="fa fa-spinner fa-pulse fa-1x fa-fw"></i><span class="tab">Photography - Instagram</span></a></li>
<li><a href="mailto:cthemis1@jhu.edu"><i class="fa fa-paper-plane fa-1x"></i><span class="tab">cthemis1[at]jhu.edu</span></a></li>
</ul>
      </td>
</tr>
</table>
</article>
